<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
    <link rel="stylesheet" href="../public/stylesheet/styles.css">
</head>

<body class="pages">
    <div class="div-complete-pages">
        <header>
            <nav>
                <ul class="nav">
                    <li class="li-nav-logo">
                        <a href="/"><img class="img-nav" src="../public/img/logo.png" alt=""></a>

                    </li>
                    <a href="/">
                        <h2 class="h2-nav">NotesAnder</h2>
                    </a>
                    <li class="li-nav-logo">
                        <a href=""></a>
                    </li>
                    
                    <div class="div-items">
                        <li class="li-nav-items">
                            <a href="sobreMi">Inicio</a>
                        </li>
                        <li class="li-nav-items">
                            <a href="sobreMi">Ayuda</a>
                        </li>
                        <li class="li-nav-items">
                            <a href="sobreMi">Sobre mi</a>
                        </li>
                        <li class="li-nav-items">
                            <a href="/login">Iniciar sesion</a>
                        </li>
                        

                    </div>
                </ul>
            </nav>
        </header>
    </div>

</body>

</html>