<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
    <link rel="stylesheet" href="./stylesheet/styles.css">
</head>
<body>
    <div class="complete">
        <div class="form-login">
            <form action="/registrarse" method="post">
                <h2>Registrase</h2>
            <label for="usuario">INGRESE SU NOMBRE DE USUARIO</label>
            <input id="usuario" value="kkkkk" name="usuario" type="text">
            <label for="password">INGRESE SU CONTRASEÑA</label>
            <input id="password" name="password" value="kkkkk" type="password">
            <input class="botton-login" type="submit" value="Ingresar">
            <a href="/login">Ya tienes cuenta</a>
            </form>

        </div>
    </div>
    
</body>
</html>