/*NO LOGEADO*/
.not-logger{
    width: fit-content;
    flex-direction: column;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Play', sans-serif;
    
}
.not-logger h1{
    margin: 0;
    font-size: 200px;
}
.not-logger a{
    text-decoration: none;
}
.not-logger a:hover{
    text-decoration:underline;
    color: rgb(148, 148, 148);
}